.swiper-button-prev, .swiper-button-next{
  background-color: #eee;
  /* border: 1px solid black; */
  opacity: 1 !important;
  padding: 22px;
  border-radius: 4em;
  width: 1.5em;
  height: 1.5em;
  color: black;
  transition: all .5s;
  display: none;
  /* box-shadow: 1px 1px 1px 1px; */
}
@media screen and (min-width: 768px){
  .swiper-button-prev, .swiper-button-next{
    display: flex;
  }
  
}
.swiper-button-prev::after, .swiper-button-next::after{
  font-size: 15px;
}


